$primary-background-color:#F2013F;
$secondary-background-color: #090909;

/*font*/
$base-font-family: 'Merriweather','Serif';
$secondary-font-family: 'Open sans','Sans Serif';
$tertiary-font-family:'Roboto Mono';
$display-font-family:'Abril Fatface';
$base-font-size:14px;
$base-line-height:24px;
$base-font-color: #fff;
$secondary-font-color: $secondary-background-color;
$base-font-weight: 300;
$hover-font-color: $primary-background-color;







