/*------------------------------------------------------------------
  	[Footer]
------------------------------------------------------------------*/

.footer {
	.footer-logo {
		@include size(64px, auto);
	}
}