/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
	padding: 0 15px;
}
.owl-item .item {
	background: #efefef;
	border-radius: 5px;
	text-align: center;
}
.owl-item .item > img {
	max-width: 100%;
	height: auto;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Styling Next and Prev buttons */

.owl-carousel-navigation { display: none; }

.owl-btn.prev,
.owl-btn.next {
	position: absolute;
	top: 50%;
	display: block;
	width: 2.5rem;
	font-size: 3rem;
	line-height: 6rem;
	margin-top: -30px;
	background: #ffffff;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s; 
}

.owl-btn.prev:hover,
.owl-btn.next:hover {
	color: #ffffff;
}

.owl-btn.prev {
	left: -57px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.owl-btn.next {
	right: -57px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.html) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* owl pagination */
.owl-controls {
	margin-top: 20px;
    text-align: center;
}

.owl-page {
	display: inline-block;
    margin: 0 5px;
}

.owl-page span {
	display: block;
    background: none;
    height: 20px;
    width: 20px;
    border: 3px solid #efefef;
    border-radius: 50%;
}

.owl-page span:hover {
	background: #efefef;
}