/*--
    Common Css
--*/

body {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #3b4045;
    font:14px/22px 'Source Sans Pro', sans-serif, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 0px;
}
h1 {
    font-size: 44px;
    line-height: 56px;
    color: #fff;
}
h2 {
  font-size: 30px;
  line-height: 35px;
}
h3 {
    font-size: 23px;
    line-height: 25px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
p {
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
    box-shadow: none;
    outline: 0 none;
}
a,
a:active,
a:focus,
a:active {
    text-decoration: none;
}

.section {
    padding: 100px 0;
}
/*--
    custom heading
--*/
.text-center {
  text-align:center;
}

.heading {
    text-align: center;
    color: #777777;
    padding-bottom: 70px;
    h2 {
      color: #3c3c3c;
      padding-bottom: 15px;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
    }
    p {
      font-family: 'Droid Serif', serif;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
    }
}



.btn {    
    border-radius: 0;
}

.btn-home {
  background-color: #1bafb4;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  margin-top: 30px;
  &:hover,
  &:focus {
      background-color: #fff;
      color: #555;
      border: 1px solid #fff;
  }
}




/*Preloader*/

#preloader {
    background-color: #fff;
    bottom: auto;
    height: 100%;
    left: auto;
    position: fixed;
    right: auto;
    top: auto;
    width: 100%;
    z-index: 9999;
}

.book {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #ecf0f1;
  width: 100px;
  height: 60px;
}

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #ecf0f1;
  border-bottom: 5px solid #ecf0f1;
  border-right: 5px solid #ecf0f1;
  background: #1bafb4;
  width: 50px;
  height: 60px;
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: flip 1.2s infinite linear;
          animation: flip 1.2s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.book__page:nth-child(1) {
  z-index: -1;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.book__page:nth-child(2) {
  z-index: -2;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
.book__page:nth-child(3) {
  z-index: -3;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
            transform: perspective(600px) rotateY(0deg);
  }
  20% {
    background: #1bafb4;
  }
  29.9% {
    background: #1bafb4;
  }
  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
            transform: perspective(200px) rotateY(-90deg);
    background: #1bafb4;
  }
  54.999% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
            transform: perspective(600px) rotateY(0deg);
  }
  20% {
    background: #1bafb4;
  }
  29.9% {
    background: #1bafb4;
  }
  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
            transform: perspective(200px) rotateY(-90deg);
    background: #1bafb4;
  }
  54.999% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }
}



/*--
    .hero-area start
--*/

.bg-1 {
  background-image: url('../images/header-bg.jpg');
  background-size:cover;
  background-attachment:fixed;
}

.bg-gray {
  background: #f8f8f8;
}


.hero-area {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  h1 {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 19px;
    margin-top: 30px;
  }
  p {
    color:#fff;
    font-size: 20px;
    line-height: 1.3;
  }
  .counter {
  background: rgba(255, 255, 255, 0.2);
  padding:18px;
    ul li {
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      display: inline-block;
      line-height: 25px;
      padding: 25px 28px 20px;
      text-align: center;
      width: 49%;
      margin-bottom: 3px;
      span {
        display: block;
        font-size: 16px;
        font-weight: 600;
      }
      .digit {
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
        line-height: 50px;
        position: relative;
        overflow: hidden;
        height: 60px;
      }
    }

  }

}






/* .hero-area  */

.navigation {
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out 0s;
       -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
         -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
    padding:10px 50px;
    margin:0;
    border:0;
    .navbar-brand {
      padding-top: 5px;
      display: inline-block;
    }
    .navbar-toggler {
      background: #fff;
      outline:none;
      border-radius:0;
      float:right;
      i {
        font-size:22px;
      }
    }
    .collapse.in {
      ul {
        
      }
    }
}

.navigation.animated {
    background-color: #fff;
    box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
    .menu {
      a {
        color: #666;
      }
    }
}



.menu {
  
    li {
      a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        &:hover,&:focus {
          background: none;
        }
      }
    }
}


/*--
    service start
--*/


.service {
    text-align: center;
  .block {
    margin-bottom:50px;
    i {
      font-size: 30px;
      display: inline-block;
      margin-bottom:15px;
      color: #1bafb4;
    }
    h3 {
      color: #333333;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    p {
      color: #666;
    }
  }
}



/*--
    About start
--*/
.about {
  .content {
    h3 {
      font-size: 26px;
      font-weight: 300;
      line-height: 36px;
      color: #7e7e7e;
      margin-bottom: 20px;
      font-family: 'Droid Serif', serif;
    }
  }
  
  .about-slider {
    img {
      width: 100%;
      height: auto;
    }
  }
}








/*--
    call-to-action start
--*/

.call-to-action {
  padding: 90px 0px;
  background-image: url(../images/call-to-action.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .block {
    h2 {
      font-size: 30px;
      margin-bottom: 6px;
      font-weight: 600;
    }
    p {
      padding-right: 30px;
      color: #fff;
    }
    .input-group {
      margin-top: 30px;
      input {
        height:50px;
        border-radius:0;
        border:none;
        box-shadow:none;
      }
      .btn-subscription {
        height:50px;
        border-radius:0;
        border:none;
        box-shadow:none; 
        background: #1bafb4;
        padding:0px 35px;
        color:#fff;
        font-weight: bold;
      }
    }
  }
}





.contact {

}



.input-field .form-control {
    box-shadow: none;
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    border-radius: 0;
}
.btn-send {
    line-height: 48px;
    border: 2px solid #1bafb4;
    background: #1bafb4;
    color: #fff;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0;
    margin-top: 10px;
    &:hover {
      color: #fff;
    }
}

.input-field label {
    color: rgba(237, 28, 36, 0.7);
} 
.form-group .input-field + .input-field {
    margin-top: 10px;
}
.input-field textarea.form-control {
    height: 160px;
    box-shadow: none;
}
.form-group {
    margin-top: 10px;
}

#success,
#error {
    display: none;
}




footer {
  text-align: center;
  background: #272727;
  padding: 27px 0px;
  p {
    font-weight: 300;
    font-size: 12px;
    color: #dfdfdf;
    letter-spacing: 3px;
    a {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}