// Colours partial

// Text colours

$white: #ffffff; //white
$black: #000000; //black
$slate: #414A52; //body font
$light-slate: #5E6265;
$light-grey: #F4F6F9; //light section
$dark-grey: #8A9097;
$teal: #7AE2DE; //cta
$dark-teal: #71D5D2; //cta-hover
$porcelain: #E5E7E9; //keylines
