/* =================  CAROUSEL ANIMATION DELAY ===================== */

	.delay-1 {
	    -webkit-animation-delay: 300ms;
	    -moz-animation-delay: 300ms;
	    animation-delay: 300ms;
	}

	.delay-2 {
	    -webkit-animation-delay: 600ms;
	    -moz-animation-delay: 600ms;
	    animation-delay: 600ms;
	}

	.delay-3 {
	    -webkit-animation-delay: 1200ms;
	    -moz-animation-delay: 1200ms;
	    animation-delay: 1200ms;
	}

	.delay-4 {
	    -webkit-animation-delay: 1500ms;
	    -moz-animation-delay: 1500ms;
	    animation-delay: 1500ms;
	}