.custom-button {
	font-family: $secondary-font-family;
    border-radius: 0;
    height: 60px;
    background-color: $primary-background-color;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover{
    	 background-color: darken($primary-background-color,5%);	
    }
}