/*--------------------------------------------------
    [SASS PLACEHOLDER]
----------------------------------------------------*/

/* Carousel Title */
%carousel-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4;
}

/* Carousel Subtitle */
%carousel-subtitle {
    font-size: 21px;
    font-weight: 600;
}

/* Carousel Position Left */
%carousel-position-left {
    position: absolute;
    left: auto;
}